include __navigation-item/header__navigation-item.pug
include __navigation/header__navigation.pug
include __contacts-container/header__contacts-container.pug
include __sandwich-ico/header__sandwich-ico.pug
include __sandwich-button/header__sandwich-button.pug
include __lang/header__lang.pug
include __langs/header__langs.pug
include __lang-container/header__lang-container.pug
include __map-adres/header__map-adres.pug
include __map-pic/header__map-pic.pug
include __map/header__map.pug
include __logo-text/header__logo-text.pug
include __logo-pic/header__logo-pic.pug
include __logo/header__logo.pug
include __top/header__top.pug
include ../button/button.pug
include ../contact/contact.pug
mixin header(modifier)
  .header&attributes(attributes)
    +header__top(modifier)
    +header__navigation(modifier)