/* no sense variables */
$inherit: inherit;
$transparent: transparent;
$white: #ffffff;
$black: #000000;

$gray-darkest: #313d4b;

/* variables with sense */
/* *********************************************************************** */
$button--BGColor: $gray-darkest;
$button--Color  : $white;
