mixin header__map(modifier)
  a(data-fancybox href="##" data-type="iframe" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.536483374805!2d30.489490215685848!3d50.39383867946752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c8c475044599%3A0x865c5c7909939ce2!2z0YPQuy4g0JLQsNGB0LjQu9GM0LrQvtCy0YHQutCw0Y8sINCa0LjQtdCyLCDQo9C60YDQsNC40L3QsCwgMDIwMDA!5e0!3m2!1sru!2sru!4v1619856118652!5m2!1sru!2sru").header__map&attributes(attributes)
    +header__map-pic(modifier)
    +header__map-adres(modifier)