include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title paradigma website test
    +favicon()
  body
    +header({
      logoTextBold: "Профессиональный монтаж дымоходов",
      logoText: "любой сложности в Киеве и Киевской обл.",
      langText:"Выбор языка",
      mapAdresBold: "Украина, Киев,",
      mapAdres: "Васильковская 30",
      mapAdresHighlighted: "Посмотреть на карте",
      langs: [
        {text: "RU", modifier:"header__lang_selected"},
        {text: "UA"}
      ],
      button: {
        text: "Консультация инженера",
      },
      contacts:[{modifier: "jir"}],
      navs:[
        {text:"Калькулятор"},
        {text:"Услуги"},
        {text:"наши работы"},
        {text:"отзывы"},
        {text:"консультация"},
        {text:"преимущества"},
        {text:"Монтаж"},
        {text:"вопрос-ответ"},
        {text:"контакты"},
      ]
    })
    main
