mixin phn(modifier)
  svg(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 16 16', version='1.1')&attributes(attributes)
    path(d='M 1.011 1.487 C -0.791 3.658, 0.595 7.795, 4.400 11.600 C 8.466 15.666, 12.548 16.881, 14.749 14.680 C 16.949 12.480, 14.645 9.621, 11.339 10.451 C 8.289 11.217, 4.635 7.725, 5.531 4.901 C 6.137 2.992, 4.592 0, 3 0 C 2.585 0, 1.690 0.669, 1.011 1.487', stroke='none', fill='#fe694f', fill-rule='evenodd')